<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944468229830-bjnc30rb9dqd9f0fbdlfcrblanou9o1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944468229830-bjnc30rb9dqd9f0fbdlfcrblanou9o1k</string>
	<key>API_KEY</key>
	<string>AIzaSyD4WV1g8qXDtpU8Fqkewj4wggaOSSE6h_c</string>
	<key>GCM_SENDER_ID</key>
	<string>944468229830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificationFcm</string>
	<key>PROJECT_ID</key>
	<string>notification-fcm-6ebaf</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-fcm-6ebaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944468229830:ios:19144d858f1d89b9b6e1c7</string>
</dict>
</plist>